.movive-main {
  display: flex;
  color: white;
  height: 100%;
  .image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
  }

  .image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  ul,
  li {
    margin: 2px;
    padding: 2px;
    float: top;
    list-style-type: none;
    min-height: 22px;
  }

  .movieinfo {
    ul {
      background: transparent;
    }
    ul,
    li {
      content: '';
      cursor: pointer;
      padding: 2px;
      border-radius: 3px;
      white-space: nowrap;
      min-width: 20rem;
      background: #2e2e2e;
    }
    li:active,
    :hover {
      color: #fff;
      background: #464545;
    }
  }
}
